.markercolour {
  fill: #c7c7c7;
}

.accentcolour {
  fill: #AF9C3A;
}

.statsicon {
  x: 50%-18;
  y: 18%;
  width: 36;
  height: 36;
}

.statsfield {
  x: 50%+1; 
  y: 76%;
  text-anchor: middle;
  font-family: Seville-Regular;
  font-size: 26;
}

.infofield {
  x: 50%+1; 
  y: 50%+8;
  text-anchor: middle;
  font-family: Seville-Regular;
  font-size: 26;
}

.maindialquarter {
  x: 0%-4;
  y: -50%+15;
  width: 9;
  height: 8;
}

.maindialfive {
  x: 0%-4;
  y: -50%+15;
  width: 9;
  height: 16;
}

.maindialminute {
  x: 0%-1;
  y: -50%;
  width: 3;
  height: 8;
}

.daytext {
  font-family: Seville-Regular;
  font-size: 26;
  text-anchor: middle;
  text-length: 8;
}

.datetext {
  font-family: Seville-Regular;
  font-size: 26;
  text-anchor: middle;
  text-length: 4;
}

.hourmarker24text {
  font-family: Seville-Bold;
  font-size: 12;
  text-anchor: middle;
}

.hourmarker24tickS {
  x: 0%;
  y: -45%;
  width: 2;
  height: 2; 
}

.hourmarker24tickL {
  x: 0%;
  y: -45%;
  width: 2;
  height: 6; 
}