.markerColor {
  fill: white;
}

.accentColor {
  fill: gold;
}

.statsIcon {
  x: 50%-18;
  y: 16%;
  width: 36;
  height: 36;
}

.statsField {
  x: 50%+1; 
  y: 66%;
  text-anchor: middle;
  font-family: Seville-Regular;
  font-size: 26;
}

.statsUnit {
  x: 50%+1;
  y: 100%-22;
  text-anchor: middle;
  font-family: Seville-Regular;
  font-size: 16;
}

.batteryIcon {
  x: 50%-12;
  y: 16%;
  width: 24;
  height: 24;
}

.batteryField {
  x: 50%+1; 
  y: 64%;
  text-anchor: middle;
  font-family: Seville-Regular;
  font-size: 24;
}

.batterylUnit {
  x: 50%+1;
  y: 100%-18;
  text-anchor: middle;
  font-family: Seville-Regular;
  font-size: 14;
}

.dayField {
  x: 28;
  y: 50%+10; 
  text-anchor: middle;
  font-family: Seville-Regular;
  font-size: 26;
  text-length: 8;
}

.dateField {
  x: 100%-21;
  y: 50%+10;
  text-anchor: middle;
  font-family: Seville-Regular;
  font-size: 26;
  text-length: 4;
}

.hourMarker24text {
  text-anchor: middle;
  font-family: Seville-Bold;
  font-size: 12;
}

.meterArc {
  x: 3;
  y: 3;
  width: 114;
  height: 114;
  arc-width: 9;
  start-angle: 0;
  opacity: 0.35;
}

.mainDialQuarter {
  x: 0%-4;
  y: -50%+15;
  width: 9;
  height: 8;
}

.mainDialFive {
  x: 0%-4;
  y: -50%+15;
  width: 9;
  height: 16;
}

.mainDialMinute {
  x: 0%-1;
  y: -50%;
  width: 3;
  height: 8;
}

.hourMarker24tickS {
  x: 0%;
  y: -45%;
  width: 2;
  height: 2; 
}

.hourMarker24tickL {
  x: 0%;
  y: -45%;
  width: 2;
  height: 6; 
}
